<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Dropoff</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="row justify-content-between">
                <div class="col">
                    Logo
                </div>
                <div class="col">
                    <h1>Restaurant Name</h1>
                </div>
                <div class="col text-right">
                    <a href="">Account</a>
                    <a href="">Logout</a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="row">
                    <div class="col text-center">
                        <h3>May 1, 2020 (Event Date)</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-left">
                        Dropoff Time: 6:00pm
                    </div>
                </div>
                <div class="row">
                    <div class="col text-left">
                       Dropoff Location: Bestbuy parking lot, Downtown LA
                    </div>
                </div>
                <div class="row">
                    <div class="col text-left">
                       Orders:
                    </div>
                </div>
                <div class="row">
                    <div class="col text-left">
                       <table class="table table-striped">
                           <thead>
                                <th>Name</th>
                                <th>Order ID</th>
                                <th>Order Details</th>
                                <th>Price</th>
                                <th>Status</th>
                                <th>Completed</th>
                           </thead>
                           <tbody>
                               <tr>
                                   <td>John Doe</td>
                                   <td><a href="">12341324132</a></td>
                                   <td>No peanuts</td>
                                   <td>$25.00</td>
                                   <td>Completed</td>
                                   <td><input type="checkbox"></td>
                               </tr>
                               <tr>
                                <td>Sally Smith</td>
                                <td><a href="">123132222</a></td>
                                <td>Lots of peanuts</td>
                                <td>$55.00</td>
                                <td>In Progress</td>
                                <td><input type="checkbox"></td>
                            </tr>
                           </tbody>
                       </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <a href="" class="btn btn-primary">Complete Event</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>